<body>
<div>
    {% block content  %}
        <div class="main-block">
            <h1>Fill the form to create a booking</h1>
            <form action="/">
                <hr>
                <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input type="text" name="name" id="name" placeholder="Firstname" required/>
                <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input type="text" name="name" id="name" placeholder="Lastname" required/>
                <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input type="text" name="name" id="name" placeholder="Phone" required/>
                <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input type="text" name="name" id="name" placeholder="Email" required/
                <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                <input type="date" name="name" id="name" placeholder="Birthday" required/>
                <label id="icon" for="name"><i class="fas fa-envelope">Birthday</i></label>
                <input type="date" name="name" id="name" placeholder="Start Date" required/>
                <label id="icon" for="name"><i class="">StartDate</i></label>
                <input type="date" name="name" id="name" placeholder="End date" required/>
                <label id="icon" for="name"><i class="fas fa-envelope">End Date</i></label>
                <input type="text" name="name" id="name" placeholder="Arrival Time" required/>
                <input type="text" name="name" id="name" placeholder="Number of people" required/>
                <input type="text" name="name" id="name" placeholder="Payment Method" required/>
                <hr>
                <div class="btn-block">
                    <p>By clicking Register, you agree on our <a href="#">Privacy Policy</a>.</p>
                    <button type="submit" href="/">Submit</button>
                </div>
            </form>
        </div>
    {% endblock %}
</div>
</body>